[user]
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCqodkVeDz0W02ExJzMWJoYDFNM9EltfL7BfVaYtkIPzdBrTGMY2NeEenRYUOdliDxEOdKn813T9AjX3n++pbeo2eh30J6HssIij4SAUh5qczhkaGdBU2EEFaL7WGTEf75XdMT0CONEzV3m/w2z/w+UM6yEdIscLp6WHHL6VCsOJLlhBQYOM8ps5OGYKOJEKdJOYm2Iq/prkWXVLcaZOk1UbKfch86TMpbTdMdvikfZ2nT4+2XEgIkwXngAQWN24gPR1DjJRnUuJHXxJ582BVwo5WYyz837DDaNB3udYM1ld+fR4VJCsg6Dtrr1Y8IsPxWwni0ZjIQi+A7rQwjnslw2G7LNXG74rszFdk90WAcEq6TM82Qdj6FMqqVnaQlJLtmEs/xhYKJ8LpY+demTl4nQJvjNQVSi4Ps5FXYUoBt4CP/N/BOGmdG62dNFNXBmxfhhz80FnKMdCVwpHM5JQiQM08jaP2iE6A+9++I4t1N1V0YeN6NY2arYX1TWmydEvkU= guillermotti@GuilleVigil-MacBookPro
	name = Guille Vigil
	email = guillermovigilr@gmail.com
[commit]
	gpgsign = true
[pull]
	ff = only
[credential]
	helper = osxkeychain
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[gpg]
	program = gpg
	format = ssh
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/guillermotti/.gitignore_global
	editor = code --wait
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[sequence]
	editor = interactive-rebase-tool
[init]
	defaultBranch = main
[tag]
	gpgsign = true
