Include /Users/guillermotti/.colima/ssh_config

# UseKeychain is not recognized by openssh, but recognized by system ssh on Mac
IgnoreUnknown UseKeychain

Host github.com *.github.com
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/ed25519_github

Host gitlab.com *.gitlab.com
    PreferredAuthentications publickey
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/ed25519_gitlab

Host *
ServerAliveInterval 10
ControlPath /tmp/ssh-%r@%h:%p
ControlMaster auto
ControlPersist yes
AddKeysToAgent yes
UseKeychain yes
IdentityFile ~/.ssh/ec2_rsa
User ubuntu
